envio de noticias por correos.json
{
  "name": "envio de noticias por correos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -736,
        0
      ],
      "id": "9b5425b1-ce89-4bb2-a042-3e771be895e9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.genbeta.com/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -560,
        160
      ],
      "id": "290bc588-ed41-4980-8b28-a9a3f9136916",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "sendTo": "tu-correo@gmail.com",
        "subject": "Noticias tecnologicas del dia",
        "message": "={{ $json.noticias.map(n => `<h3>${n.title}</h3><p><a href=\"${n.link}\">${n.link}</a></p><p>${n.pubDate}</p><hr/>`).join('') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        128,
        0
      ],
      "id": "841ea209-5b47-44c4-b9ef-a2d86fc14681",
      "name": "Send a message",
      "webhookId": "35a7cef2-dbb1-4793-b99d-a9698b3531da",
      "credentials": {
        "gmailOAuth2": {
          "id": "lcJHY1QpiClKF0Hz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -176,
        -160
      ],
      "id": "8c8ab906-7314-4284-b8f7-39f9cb10ec86",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "noticias",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ],
      "id": "ed8795c4-d256-423b-9a06-96b146e8a0d7",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -320,
        -16
      ],
      "id": "f5ad3a35-023e-41ab-9d07-710bf7ed2fa0",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.xataka.com/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -560,
        -176
      ],
      "id": "0e608ea6-9496-49a9-9529-d7714c018a5a",
      "name": "RSS Read1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Caracas",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c950a525-63db-44fa-b3ad-8749aa9ea64c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d841fa255f01d5f96cdc5d375c064a19b5042547565f58d606568e8495282398"
  },
  "id": "WhHJoYu1UA4tHt0o",
  "tags": []
}